* {
    margin: 0;
    padding: 0;
}
#box {
    border: 1px solid black;
    width: 40%;
    height: 400px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.circle {
    border: 1px solid red;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    left: 85px;
    top: 25px;
    position: relative;
}
.key {
    border: 1px solid black;
    width: 60px;
    height: 60px;
    position: absolute;
    margin: 5px;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
}
.up {
    left: 139px;
    top: 140px;
}
.down, .left, .right {
    bottom: 60px;
}
.left {
    left: 50px;
}
.down {
    left: 139px;
}
.right {
    right: 50px;
}
.up:before {
   content: '\002191';
}
.left:before {
    content: '\002190';
}
.right:before {
    content: '\002192';
}
.down:before {
    content: '\002193';
}
